.btn2container{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 0.5rem;
    width: 100%;
    height: 3.1rem;
    gap: 0.6rem;
    position: relative;
    bottom: -9.5rem;
    
}
.btn2container:hover{
    background-color: gray;
}

.btndot{
    background-color: black;
    color: white;
}

.btn2text{
    color: white;
    gap: 0.2rem;
    font-size: smaller;
}